<%- include('../partials/header_manager') %>

  <div id="wrapper">

    <%- include('../partials/nav_home_manager') %>


      <div class="container">
        <div class="row mb-5">
          <div class="col-12 col-lg-3">
            <div class="list-group text-center make-sticky ">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <div class="profile my-4 table-striped-columns">
                      <div class="mb-3">
                        <a href="/uploads/<%= manager.profileImage %>" data-lightbox="profile-image">
                          <img src="/uploads/<%= manager.profileImage %>" alt="person" width="50%" class="rounded-circle">
                        </a>
                      </div>
                      <div class="fs-3"><%= manager.fullname %></div>
                      <div class="fs-5">Manager</div>
                    </div> 
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td><a href="/manager/<%= manager.username%>"
                        class="list-group-item list-group-item-action">Home</a></td>
                  </tr>

                  <tr>
                    <td><a href="/manager/<%= manager.username%>/view"
                        class="list-group-item list-group-item-action">View
                        profile</a></td>
                  </tr>
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/edit"
                        class="list-group-item list-group-item-action">Edit
                        Profile</a></td>
                  </tr>
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/changepassword"
                        class="list-group-item list-group-item-action">Change
                        password</a></td>
                  </tr>
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/addpayment"
                        class="list-group-item list-group-item-action">Add Payment</a></td>
                  </tr>
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/viewfeedback"
                        class="list-group-item list-group-item-action">View Feedback</a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/viewinventory"
                        class="list-group-item list-group-item-action">View inventory</a>
                    </td>
                  </tr>
                  
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/inventoryupgrade"
                        class="list-group-item list-group-item-action">Edit inventory</a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/inventorydegrade"
                        class="list-group-item list-group-item-action">Remove inventory</a>
                    </td>
                  </tr>

                  <tr class="table-active">
                    <td><a href="/manager/<%= manager.username%>/changemesslocation"
                        class="list-group-item list-group-item-action">Change Mess Location</a>
                    </td>
                  </tr>

                  <tr>
                    <td><a href="/manager/<%= manager.username%>/managercheck"
                        class="list-group-item list-group-item-action">Customer checklist</a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/viewpaymenthistory"
                            class="list-group-item list-group-item-action">View payment history</a>
                    </td>
                </tr>
                  <tr>
                    <td><a href="/manager/<%= manager.username%>/viewpaymenthistorygraph"
                        class="list-group-item list-group-item-action">View Payment Statistics</a>
                    </td>
                  </tr>
                  <tr >
                    <td><a href="/manager/<%= manager.username%>/deleteuser"
                        class="list-group-item list-group-item-action">Remove Customer/cadet</a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
          <div class="col-12 col-lg-9 pt-5 mt-5">

            <div class="text-center fs-2 mb-5">Welcome <a href="/manager/<%= manager.username%>">
                <%= manager.fullname%>
              </a> </div>
              
            <% if(err)  {%>

              <% if(err.includes("Success") || err.includes("success") || err.includes("Successfully") || err.includes("successfully") || err.includes("Successfull") || err.includes("successfull") )  {%>
                <div class="container">
                  <div class="container col-md-8 col-xl-6 px-2 rounded-1 text-center">
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <%=err %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
                    <% } else { %>
      
      <div class="container">
          <div class="container col-md-8 col-xl-6  px-2 rounded-1 text-center">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%=err %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
            <% } %>
            <% } %>
              <div class="container border mt-3 col-md-8 col-xl-12 px-5 py-4 mb-5 my-5 rounded-5">
                  <div class="text-center fs-2 m-4">Change Location</div>


                  <form action="/manager/<%= manager.username%>/changemesslocation?_method=patch" method="post">
                    

                    <div class="row d-flex align-items-center justify-content-center">
                      <div class="col-12 col-sm-9">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="location" name="location"
                            placeholder="Enter location" required>
                          <label for="location">Location:</label>
                        </div>
                      </div>
                      <div class="col-12 col-sm-3">
                        <div class="form-floating mb-3">
                          <button type="button" class="btn btn-primary" onclick="searchLocation()">Search</button>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude" readonly>
                          <label for="longitude">Longitude:</label>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude" readonly>
                          <label for="latitude">Latitude:</label>
                        </div>
                      </div>
                    </div>

                    

                    <div class="form-floating my-4">
                        <label for="map">Map:</label>
                        <div id="map"></div>
                    </div>

                    <div class="text-center mt-5 mb-4 text-center">
                      <button class="btn btn-primary px-3" type="submit">Submit</button>
                    </div>
                  </form>
                </div>


                <div class="col-1 col-lg-0"></div>
          </div>

        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
        <script src=' https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js'>
        </script>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoidmVuaWwxMCIsImEiOiJjbGg2b2FlaTIwMHRoM2RvY2k0bnRibTZhIn0.LDcg9rGCcMMwupx-7qajLg';

            var defaultLocation = [<%= messlocation.longitude %>, <%= messlocation.latitude %>]; // Default location coordinates

            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/venil10/clgt7c00m002y01pghuwe3qzu',
            center: defaultLocation,
            zoom: 13
            });

            // Add the default marker
            var marker = new mapboxgl.Marker()
            .setLngLat(defaultLocation)
            .addTo(map);

            var searchInput = document.getElementById('location');
            var latitudeInput = document.getElementById('latitude');
            var longitudeInput = document.getElementById('longitude');
            var marker;

            function searchLocation() {
            var location = searchInput.value;

            if (location.trim() === '') {
                return;
            }

            var geocodeUrl = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + encodeURIComponent(location) +
                '.json?access_token=' + mapboxgl.accessToken;

            fetch(geocodeUrl)
                .then(function(response) {
                return response.json();
                })
                .then(function(data) {
                if (data.features.length === 0) {
                    latitudeInput.value = '';
                    longitudeInput.value = '';
                    console.log('Location not found');
                    return;
                }

                var coordinates = data.features[0].center;
                latitudeInput.value = coordinates[1];
                longitudeInput.value = coordinates[0];

                if (marker) {
                    marker.remove();
                }

                marker = new mapboxgl.Marker()
                    .setLngLat(coordinates)
                    .addTo(map);

                map.flyTo({
                    center: coordinates,
                    zoom: 12
                });
                })
                .catch(function(error) {
                console.log('Error:', error);
                });
            }

            map.on('click', function(e) {
            var coordinates = e.lngLat;
            var reverseGeocodeUrl = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + coordinates.lng + ',' +
                coordinates.lat + '.json?access_token=' + mapboxgl.accessToken;

            fetch(reverseGeocodeUrl)
                .then(function(response) {
                return response.json();
                })
                .then(function(data) {
                if (data.features.length === 0) {
                    return;
                }

                var name = data.features[0].place_name;
                searchInput.value = name;
                latitudeInput.value = coordinates.lat;
                longitudeInput.value = coordinates.lng;

                if (marker) {
                    marker.remove();
                }

                marker = new mapboxgl.Marker()
                    .setLngLat(coordinates)
                    .addTo(map);
                })
                .catch(function(error) {
                console.log('Error:', error);
                });
            });

        </script>

        <%- include('../partials/footer') %>    
